* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SCROLLBAR  */
::-webkit-scrollbar {
    width: 8.5px;
  }
  ::-webkit-scrollbar-track {
    background: #929292;
  }
  ::-webkit-scrollbar-thumb {
    background: #535353;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: rgb(74, 74, 74);
  }

:root {
    --p_color: rgb(229, 229, 229);
    --nav_color: rgb(36, 36, 36);
    --nav_txt: rgb(191, 189, 189);
    --dark_bg: rgb(23,23,23);
}
#heading-tr{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: var(--p_color);
    font-size: 1.9em;
    font-weight: 600;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: var(--dark_bg);
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
}
.box img{
    display: none;}

.profile {
    display: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.desktop{
    transition: 0.3s ease-in-out;
}

.desktop a:hover{
    font-weight: 500;
    color: white;
}

.container{
    /* display: flex; */
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    margin: 50px auto;
    color: var(--nav_txt);
    width: 40%;
    
    box-shadow: 0px 0px 10px 10px rgba(10, 10, 10, 0.304);
    background-color: var(--nav_color);
}
.container .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* font-weight:     00; */
}
.container .row input{
    flex: 1;
    padding: 10px 20px;
    background: rgb(61, 61, 61);
    border-radius: 32px;
    /* outline: none; */
    margin: 20px;
    color: var(--nav_txt);
    border: none;
}
.container .row button{
    padding: 10px 20px;
    border-radius: 32px;
    background-color: rgb(61, 61, 61);
    color: var(--nav_txt);
    outline: none;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.container .row button:hover{
    background-color: white;
    color: var(--dark_bg);
}
#list-container{
    margin-top: 20px;
    display: none;
}
#list-container li{
    user-select: none;
    cursor: pointer;
    margin: 5px;
    position: relative;
    border-radius: 7px;
    text-wrap: wrap;
    word-break: break-all;
    background-color: rgb(35.45, 35.45, 35.45);
    transition: 0.1s ease-in-out;
    padding: 12px 8px 12px 50px;
}
#list-container li:hover{
    background-color: rgb(29, 29, 29);
}
#list-container li::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(/assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 12px;
}
#list-container li.checked{
    color: rgb(79, 78, 78);
    text-decoration: line-through;
}
#list-container li.checked::before{
    background-image: url(/assets/checked.png);
    filter: grayscale();

}
span{
    position: absolute;
    right: 18px;
    background-color: var(--nav_color);
    box-shadow: 0px 0px 10px 5px var(--nav_color);
}
span:hover{
    color: white;
}


@media screen and (max-width:800px) {
    .mobiles-top {
        width: 100%;
        background-color: var(--nav_color);
        color: white;
        text-align: center;
        display: inline-block;
        padding: 20px;
        padding-bottom: 0px;
        position:sticky;
        top: 0;
        border-radius: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.199);
        height: 8vh;
    }
    .container{
    max-width: 90%; 
    width: 400px;
    margin-bottom: 100px;
    }
    .desktop {
        display: none;
    }

    .mobiles-top h2 {
        float: center;
    }
    .mobiles-bottom {
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin: auto;
        display: flex;
        position: fixed;
        flex-wrap: nowrap;
        bottom: 0px;
        width: 100%;
        flex-direction: row;
        border-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        z-index: 9999;
        box-shadow: 0px 0px 20px rgba(58, 58, 58, 0.249);
        background-color: var(--nav_color);
        border-top: 1px solid var(--dark_bg);
    }

    .mobiles-bottom li {
        width: 70px;
        text-align: center;
        /* margin: 0px 30px; */
        padding: 10px;
        display: inline-block;
    }

    .mobiles-bottom img {
        display: inline-block;
        filter: invert();
        opacity: 50%;
        width: 25px;
        
    }

    .mobiles-bottom h4 {
        color: var(--nav_txt);
        font-size: 0.6em;
        /* align-items: center; */
        text-align: center;
    }

    #home-icon {
        float: left;
    }

    #reminder-icon {
        float: right;
    }


    .mobiles-top img {
        width: 35px;
        float: right;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.582);
        border-radius: 100px;
    }

    .mobiles-bottom .active {
        filter: brightness(1);
        /* border-bottom: 1px solid black; */
    }
    



}

@media screen and (max-width: 320px) {
    .mobiles-bottom li {
        /* margin: 10px; */
        width: 23%;
        padding: 10px 20px;
        text-align: center;
        align-items: center;
        margin: 0;
    }

  

    .mobiles-bottom img {
        align-items: center;
        width: 22px;
    }

    .mobiles-bottom h4 {
        display: none;
        font-size: 0.4em;
    }

    .mobiles-top h2 {
        font-size: 1em;
    }
    .mobiles-top{
        border-radius: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .mobiles-top img {
        width: 25px;
    }
    
    
   
}

@media screen and (min-width: 800px) {
    body {
        
        height: 100%;
    }

    .mobiles-top {
        display: none;
    }

    .mobiles-bottom {
        display: none;
    }

  

    .desktop {
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.468);
        border-radius: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: var(--nav_color);
    }

    .desktop ul {
        display: flex;

    }

    .right {
        display: flex;
        position: fixed;
        right: 10px;
    }

   

   

    #logo {
        margin: 0px 20px;
        font-size: 1.2em;
        align-items: center;
        color: var(--nav_txt);
        align-self: center;
    }

    .desktop a {
        color: var(--nav_txt);
        font-size:0.9em;
    }

    .desktop li {
        justify-content: flex-end;
        color: black;
        padding: 10px;

        margin: 10px 10px;
    }

  
    .main {
        grid-column: 1/8;
        margin: 20px;
        margin-top: 80px;
        padding: 10px;
    }

    

    
    .left {
        display: flex;
        width: 100%;
        height: 64px;
    }
    #heading-tr{
            display: flex;
            justify-content: start;
            margin-top: 100px;
       
            font-size: 3em;
            margin-left: 50px;
            font-weight: 600;
        }
  
   
}

  
  
  
  @media (prefers-color-scheme: light){
    .content{
        box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.34);
    }
    body{
        background-color: var(--p_color);
        color: var(--dark_bg);
    }
    
    .mobiles-bottom{
        background-color: var(--p_color);
        border: none;
    }
   
  
    .mobiles-top h2{
        color: black;
    }
    .mobiles-top{
        background-color: var(--p_color);

    }
    
    .desktop{
        background-color: var(--p_color);
    }
    .desktop li a{
        color: black;

    }
    a{
        color: black;
    }
    
    
    #logo{
        color:black;
    }
  
    .mobiles-bottom li{
        color: black;
    }
    .mobiles-bottom img{
        filter: invert(0);
    }
    .container{
        background-color: rgb(230, 230, 230);
        color: var(--nav_color);
    }
    input{
        background-color: var(--p_color);
    }
    .box{
        background-color: white;
    }
    .box h2,p{
        color: var(--dark_bg);
    }
    #heading-tr{
        color: var(--dark_bg);
    }


} 


  
  


